<div class="auth-container">
    <div class="title">
        Forgot Password?
    </div>

    <div class="form">
        <div class="flex flex-column gap-2 input">
            <label htmlFor="email">Email address</label>
            <input pInputText type="email" id="email" aria-describedby="email-help" [disabled]="emailSent" #email />
        </div>

        <p-button label="Get Password Renewal Link" (click)="sendEmail(email.value)" [disabled]="emailSent"></p-button>
        
        <p>
            <span style="color: #333333;">Already have an account? </span>
            <a routerLink="/login">Log In</a>
        </p>
    </div>
</div>

